In [1]:
import os
import time
import pandas as pd
import datetime as dt
import json
import requests
import csv
import pprint

In [20]:
#This csv file is downloaded from Kaggle
filepath = ("../Resources/volcano-events0-21.csv")
volcano_df = pd.read_csv(filepath)
volcano_df.count()

Year                                  812
Mo                                    710
Dy                                    648
Tsu                                   148
Eq                                     66
Name                                  812
Location                              812
Country                               812
Latitude                              812
Longitude                             812
Elevation (m)                         812
Type                                  812
VEI                                   641
Agent                                 467
Deaths                                428
Death Description                     551
Missing                                 8
Missing Description                    11
Injuries                               94
Injuries Description                  118
Damage ($Mil)                          18
Damage Description                    226
Houses Destroyed                       34
Houses Destroyed Description          109
Total Deaths                          449
Total Death Description               576
Total Missing                           8
Total Missing Description              12
Total Injuries                         96
Total Injuries Description            126
Total Damage ($Mil)                    22
Total Damage Description              243
Total Houses Destroyed                 40
Total Houses Destroyed Description    132
dtype: int64

In [19]:
#This file was downloaded as a tsv from NOAA
volcano_2 = pd.read_csv("../Resources/volcano-events.tsv", sep='\t')

Search Parameters                       1
Year                                  841
Mo                                    713
Dy                                    651
Tsu                                   151
Eq                                     69
Name                                  841
Location                              841
Country                               841
Latitude                              841
Longitude                             841
Elevation (m)                         841
Type                                  841
VEI                                   665
Agent                                 475
Deaths                                430
Death Description                     559
Missing                                 8
Missing Description                    11
Injuries                               94
Injuries Description                  118
Damage ($Mil)                          18
Damage Description                    233
Houses Destroyed                       34
Houses Destroyed Description          111
Total Deaths                          451
Total Death Description               584
Total Missing                           8
Total Missing Description              12
Total Injuries                         96
Total Injuries Description            126
Total Damage ($Mil)                    22
Total Damage Description              250
Total Houses Destroyed                 40
Total Houses Destroyed Description    134
dtype: int64

In [5]:
volcano_df.dtypes

Year                                  float64
Mo                                    float64
Dy                                    float64
Tsu                                   float64
Eq                                    float64
Name                                   object
Location                               object
Country                                object
Latitude                              float64
Longitude                             float64
Elevation (m)                         float64
Type                                   object
VEI                                   float64
Agent                                  object
Deaths                                float64
Death Description                     float64
Missing                               float64
Missing Description                   float64
Injuries                              float64
Injuries Description                  float64
Damage ($Mil)                         float64
Damage Description                    float64
Houses Destroyed                      float64
Houses Destroyed Description          float64
Total Deaths                          float64
Total Death Description               float64
Total Missing                         float64
Total Missing Description             float64
Total Injuries                        float64
Total Injuries Description            float64
Total Damage ($Mil)                   float64
Total Damage Description              float64
Total Houses Destroyed                float64
Total Houses Destroyed Description    float64
dtype: object

In [13]:
preeq_data = "../Resources/query.csv"
preeq_dataDF = pd.read_csv(preeq_data, encoding="utf-8")
preeq_dataDF.dtypes

time               object
latitude           object
longitude          object
depth              object
mag                object
magType            object
nst                object
gap                object
dmin               object
rms                object
net                object
id                 object
updated            object
place              object
type               object
horizontalError    object
depthError         object
magError           object
magNst             object
status             object
locationSource     object
magSource          object
dtype: object

In [ ]:
#Fliter the DF to our desired columns
eq_cols = ["time", "latitude", "longitude", "mag", "magType"]
eq_dataDF= preeq_dataDF[eq_cols].copy()

#clean
print(eq_dataDF.shape)
eq_dataDF.drop_duplicates("time", inplace=True) 
eq_dataDF = eq_dataDF.dropna() 
eq_dataDF.head()