In [1]:
import pandas as pd

In [5]:
filepath = ("../Resources/volcano-events0-21.csv")
volcano_df = pd.read_csv(filepath)

In [3]:
volcano_df

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,...,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46.0,NaN,NaN,21.0,NaN,Santorini,Greece,Greece,36.404,25.396,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50.0,NaN,NaN,NaN,NaN,Ambrym,Vanuatu-SW Pacific,Vanuatu,-16.250,168.120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60.0,NaN,NaN,NaN,NaN,Bona-Churchill,Alaska-E,United States,61.380,-141.750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,79.0,8.0,25.0,3093.0,58.0,Vesuvius,Italy,Italy,40.821,14.426,...,2100.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,2019.0,7.0,3.0,NaN,NaN,Stromboli,Italy,Italy,38.789,15.213,...,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
809,2019.0,8.0,28.0,5716.0,NaN,Stromboli,Italy,Italy,38.789,15.213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810,2019.0,12.0,9.0,NaN,NaN,White Island,New Zealand,New Zealand,-37.520,177.180,...,22.0,1.0,NaN,NaN,25.0,1.0,NaN,NaN,NaN,NaN
811,2020.0,1.0,12.0,NaN,NaN,Taal,Luzon-Philippines,Philippines,14.002,120.993,...,39.0,1.0,NaN,NaN,NaN,NaN,67.0,4.0,4573.0,4.0
812,2020.0,5.0,29.0,5748.0,10501.0,Ijen,Java,Indonesia,-8.058,114.242,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN